/installation_pipeline/venv/
/installation_pipeline/.snakemake/
/installation_pipeline/logs/
/pandora_sample_data/
.idea/

venv/

scripts/csv_to_paper_plots/4wayROC/notebook/.ipynb_checkpoints/

scripts/csv_to_paper_plots/20wayROC/notebook/.ipynb_checkpoints/
