/installation_pipeline/venv/
/installation_pipeline/.snakemake/
/installation_pipeline/logs/
/pandora_sample_data/
.idea/

venv/

scripts/csv_to_paper_plots/4wayROC/notebook/.ipynb_checkpoints/

scripts/csv_to_paper_plots/20wayROC/notebook/.ipynb_checkpoints/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_20_way/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_4_way/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_20_way.zip

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_4_way.zip
/scripts/csv_to_paper_plots/Figure10/gene_sample_ref_ED_nbsamples.illumina.csv
/scripts/csv_to_paper_plots/Figure10/gene_sample_ref_ED_nbsamples.nanopore.csv
/scripts/get_time_and_RAM_usage/performance_logs/

scripts/get_time_and_RAM_usage/.ipynb_checkpoints/

scripts/get_time_and_RAM_usage/performance_logs.zip

scripts/csv_to_paper_plots/gene_classification/.ipynb_checkpoints/

scripts/csv_to_paper_plots/recall_per_nb_of_samples/difference_of_panvars_found_in_rare_loci/.ipynb_checkpoints/
