/installation_pipeline/venv/
/installation_pipeline/.snakemake/
/installation_pipeline/logs/
/pandora_sample_data/
.idea/

venv/

scripts/csv_to_paper_plots/4wayROC/notebook/.ipynb_checkpoints/

scripts/csv_to_paper_plots/20wayROC/notebook/.ipynb_checkpoints/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_20_way/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_4_way/

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_20_way.zip

scripts/csv_to_paper_plots/pandora1_paper_analysis_output_4_way.zip
/scripts/csv_to_paper_plots/gene_distance/gene_sample_ref_ED_nbsamples.illumina.csv
/scripts/csv_to_paper_plots/gene_distance/gene_sample_ref_ED_nbsamples.nanopore.csv
/scripts/get_time_and_RAM_usage/performance_logs/

scripts/get_time_and_RAM_usage/.ipynb_checkpoints/

scripts/get_time_and_RAM_usage/performance_logs.zip

scripts/csv_to_paper_plots/gene_classification/.ipynb_checkpoints/

scripts/csv_to_paper_plots/recall_per_nb_of_samples/difference_of_panvars_found_in_rare_loci/.ipynb_checkpoints/

**/Rplots.pdf
**/.DS_Store
**/*.simg

scripts/pull_containers/paper_pandora2020_containers.zip
/scripts/pull_containers/paper_pandora2020_containers_part_1.zip
/scripts/pull_containers/paper_pandora2020_containers_part_2.zip

scripts/create_package_of_repos/paper_pandora2020_code/

scripts/create_package_of_repos/paper_pandora2020_code.zip

scripts/csv_to_paper_plots/supplementary_table_1/.ipynb_checkpoints/

scripts/random/illumina_reads_length/.ipynb_checkpoints/illumina_reads_length-checkpoint.ipynb
/scripts/pull_containers/containers/
